body{
    background-color: rgb(71, 107, 213);
    color: #fff;
}

.container-meteo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-meteo span {
    font-size: 2.5rem;
}

.container-meteo input[type="text"] {
    height: 25px;
    border: none;
}
.container-meteo button {
    padding: 5px;
    border: none;
    color: #fff;
    background: #333;
}

.rounded-border {
    border-radius: 5px;
    background: #ffffff;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.65);
    backdrop-filter: blur(5px);
}

.center-align {
    display: flex;
    align-items: center;
    justify-self: center;
}

img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.container-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.searchVille {
    display: flex;
    align-items: center;
  }
  
  .search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #1976D2;
  }
